@use '../abstracts' as *;

.dashboard__page {
  height: 100vh;
  display: grid;
  overflow: hidden;
  background: #f0f0f0;
  grid-template-rows: auto 1fr;

  @include breakpoint('md') {
    grid-template-rows: 100vh;
    grid-template-columns: auto 1fr;
  }
}

.dashboard__content {
  overflow-y: auto;

  &__header {
    position: sticky;
    top: 0;
    font-size: rem(16);
    background: #fff;
    padding: rem(12) rem(15);
    border-top: rem(1) solid #dcdcdca0;
    @include flex-row(space-between, center, 0);
    @include breakpoint('md') {
      font-size: rem(20);
    }

    button {
      color: #fff;
      border: none;
      cursor: pointer;
      font-family: inherit;
      border-radius: rem(5);
      padding: rem(5) rem(15);
      background: $primary-color;
      @include breakpoint('md') {
        padding: rem(10) rem(20);
      }
    }
  }
}
